@media screen and (max-width: 1520px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .project img {
    height: 290px;
    width: 350px;
  }

  .layer p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1030px) {
  nav .logo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 990px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav{
    display: flex;
    position: relative;
  }

  nav .logo {
    width: 75px;
    height: 75px;
  }

  .project-list {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .project img {
    height: 200px;
    width: 300px;
  }

  #project-card-title {
    font-size: 1.25rem;
  }

  .layer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project img {
    height: 290px;
    width: 350px;
  }
}

@media screen and (max-width: 580px) {
  nav > img {
    display: none;
  }

  .project-list {
    gap: 20px;
  }
}