/* @media screen and (max-width: 1520px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .project img {
    height: 290px;
    width: 350px;
  }

  .layer p {
    font-size: 1.3rem;
  }
} */

/* @media screen and (max-width: 3840px) {
  #project-slider button {
    top: -30vh;
    padding: 30px;
    font-size: 2em;
  }
  
  #project-slider .prev {
    left: -20%;
  }
  
  #project-slider .next {
    left: 20%;
  }
} */

@media screen and (max-width: 1150px) {
  #project-slider button {
    top: 0;
    padding: 30px;
    font-size: 2em;
  }
  
  #project-slider .prev {
    left: -10rem;
  }
  
  #project-slider .next {
    left: 10rem;
  }
}

@media screen and (max-width: 1030px) {
  nav .logo {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 990px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav{
    display: flex;
    position: relative;
  }

  nav .logo {
    width: 75px;
    height: 75px;
  }

  .project-list {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .project img {
    height: 350px;
    width: 300px;
  }

  #project-card-title {
    font-size: 1.25rem;
  }

  .layer p {
    font-size: 1rem;
  }
}

/* TODO: añadir comportamiento de botones de proyecto cuando la pantalla es menor de 750px */

@media screen and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project img {
    height: 290px;
    width: 350px;
  }

  #project-slider button {
    top: 0;
    padding: 16px;
    font-size: 1em;
  }

  #project-slider .prev {
    left: 0;
  }
  
  #project-slider .next {
    left: 0;
  }
}

@media screen and (max-width: 580px) {
  nav > img {
    display: none;
  }

  .project-list {
    gap: 20px;
  }

  .slide h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 470px) {
  .project img {
    height: 250px;
    width: 150px;
  }
}