/* TODO */

/* [] Cómo cambiar de idioma una página web --> https://www.youtube.com/watch?v=hBYVxQLtrqQ&ab_channel=DorianDesings */

/* [] dark mode 
https://bootcamp.uxdesign.cc/create-a-dark-mode-for-your-website-d62e73a4275d */
@import url('https://fonts.googleapis.com/css?family=Alata|Akshar|Adamina|Roboto');

/* General styles */
* {
  margin: 0;
}

/* body styles */
.dark {
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5;
}

.light {
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b;
}

.page {
position: relative;
background-color: var(--main-bg);
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
min-height: 100vh;
box-sizing: border-box;
/* padding: 8px; */
}

body {
  font-family: Alata, Akshar, Adamina, Roboto, Oxygen, Geneva, Tahoma, sans-serif;
  background-color: var(--main-bg);
}

html {
  scroll-behavior: smooth;
}

/* Transitions */

a, .btn {
  transition: all 500ms ease;
}

/* Nav */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 17vh;
  margin-top: 15px;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 0.8rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
}

/*desktop nav*/
#desktop-nav {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 205, 155);
  position: sticky;
  top: 0;
}

/* Logo */
.logo-div {
  user-select: none;
}

.logo {
  /* top: 1px; */
  left: 5px;
  width: 87px;
  height: 87px;
}

/* Hamburguer menu */
#hamburger-nav {
  z-index: 999;
  display: none;
  position: sticky !important;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: rgb(244, 205, 155);
}

#hamburger-nav .logo {
  left: 5px;
  margin: 0px;
  position: fixed;
  width: 87px;
  height: 87px;
}

.hamburger-menu {
  position: absolute;
  display: inline-block;
  justify-content: center;
  right: 35px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.5 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  transition: all 0.5 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 340px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate( 10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate( 10px, -5px);
}

.hamburger-icon span:first-child{
  transform: none;
}

.hamburger-icon span:first-child{
  opacity: 1;
}

.hamburger-icon span:first-child{
  transform: none;
}

/* Theme toggle */
#toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
  height: 50px;
}

.toggle-input {
  /* position: absolute; */
  user-select: none;
  display: none;
  opacity: 0;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--shadow);
  background-color: var(--text-bg);
  border-radius: 50px;
  margin: 0;
  height: 25px;
}

.toggle-label:hover {
  cursor: pointer;
  background: linear-gradient(270deg, rgba(22,38,59,1) 30%, rgb(168, 188, 239) 76%);
}

.toggle-label img {
  border-radius: 50px;
}

.toggle-label:active {
  transform: scale(0.95);
}

#night-mode-icon, #light-mode-icon {
  width: 25px;
  height: 25px;
  background-color: #16263b;
}

#profile {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}

.hero-div-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-pic {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  padding: 0 15px;
}

#hero-name, #hero-role {
  color: aliceblue;
}

#theme-button {
  display: block;
  z-index: 99;
  inset-inline-end: 100px;
  inset-block-end: 40px;
}

/*footer*/

footer {
  background-color: aqua;
  position: fixed;
  bottom: 2px;
  left: 2px;
  font-size: 13px;
}

footer img {
  width: 15px;
  height: 15px;
}