
@import url('https://fonts.googleapis.com/css?family=Alata|Akshar|Adamina|Roboto');

/* General styles */
* {
  margin: 0;
  padding: 0;
}

/* body styles */
.dark {
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --text-bg-sec:#FFF7E0;
  --shadow: #a1c6ea;
  --text-sec: #9DD9EE;
  --text-ter: #6CC3E0;
  --text-main: #dae3e5;
}

.light {
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --text-bg-sec:#95A7BB;
  --shadow: #a1c6ea;
  --text-sec: #060707;
  --text-ter: #3e6185;
  --text-main: #16263b;
}

.page {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: Alata, Akshar, Adamina, Roboto, Oxygen, Geneva, Tahoma, sans-serif;
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
}

b {
  font-family: Adamina;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
  margin: 0;
  padding: 0;
}

/* Transitions */

a, .btn {
  transition: all 500ms ease;
}

/* Nav */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.35em;
}

a {
  color: var(--text-main);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: var(--shadow);
}

/*desktop nav*/
#desktop-nav {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90;
  background: transparent;
  backdrop-filter: blur(15px);
}

/* Logo */

.logo {
  top: 5px;
  left: 10px;
  width: 105px;
  height: 103px;
  position: fixed;
  user-select: none;
  border-radius: 10%;
}

/* Hamburguer menu */
#hamburger-nav {
  z-index: 90;
  display: none;
  position: sticky !important;
  margin: 0;
  padding: 0;
  top: 0;
  /* width: 100vw; */
  background: transparent;
  backdrop-filter: blur(7.8px);
}

.hamburger-menu {
  position: absolute;
  display: inline-block;
  justify-content: center;
  right: 55px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
  width: 40px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100;
  height: 5px;
  background-color: var(--text-main);
  transition: all 0.5 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.5 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 340px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate( 10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate( 10px, -5px);
}

.hamburger-icon span:first-child{
  transform: none;
}

.hamburger-icon span:first-child{
  opacity: 1;
}

.hamburger-icon span:first-child{
  transform: none;
}

/* Theme toggle */
#toggle {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
  height: 50px;
  top: -5px;
}

.toggle-input {
  user-select: none;
  display: none;
  opacity: 0;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--text-bg);
  background-color: var(--text-ter);
  border-radius: 50px;
  width: 50px;
  margin: 0;
  height: 25px;
}

.toggle-label:hover {
  cursor: pointer;
  background: linear-gradient(85deg, var(--main-bg) 30%, var(--text-ter) 66%);
}

.toggle-label img {
  border-radius: 50px;
  justify-self: center;
}

.toggle-label:active {
  transform: scale(0.95);
}

#night-mode-icon, #light-mode-icon {
  width: 25px;
  height: 25px;
  background-color: #16263b;
}

/*Styles for hero and profile section */

/* #profile {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 70px 0 0 0;
  padding: 0;
  text-align: center;
  width: 90%;
  font-size: 1.25em;
} */

.hero-div-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-name {
  font-size: 2.5em;
  margin: 0 auto;
}

#hero-name, #exp-title, #edu-title, #project-section-title {
  color: var(--text-main);
}

#hero-role, #hello {
  color: var(--text-sec);
  margin: 10px auto;
}

#theme-button {
  display: block;
  z-index: 99;
  inset-inline-end: 100px;
  inset-block-end: 40px;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Styles for sections */

#about-section, #experience-section, #education-section, #projects-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 90%;
  font-size: 1.25em;
}

#div-about {
  width:60%;
  font-size: 1.25em;
}

#about-parag, #exp-parag, #edu-parag {
  color: var(--text-main);
}

.social-media i {
  margin: 15px 5px;
  color: var(--text-sec);
}

.social-media i:hover {
  color: var(--text-main);
  transform: scale(1.25);
  transition: all 1s ease;
}

#exp-title, #edu-title, #project-section-title {
  font-size: 2.25em;
  margin: 65px 0 40px 0;
}

#div-title {
  justify-content: center; 
  align-items: center;
  margin: 20px 0 20px 0;
}

#div-title > p {
  background: var(--text-bg-sec);
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  justify-content: center;
  font-size: 1.25em;
  width: fit-content;
}

#div-exp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  font-size: 1.25em;
}

#exp-parag, #edu-parag {
  width: 80%;
}

/* Projects section */

.project-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-bottom: 40px;
}

.project {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}

.project img {
  height: 350px;
  width: 400px;
  border-radius: 15px;
  display: block;
  transition: transform 900ms;
}

#calculadora-react, #proyecto-back-end {
  height: 400px;
  width: 320px;
}

.layer {
  width: fit-content;
  height: 0;
  background: linear-gradient(rgba(79, 94, 255, 0.5), rgba(252, 66, 66, 0.9));
  backdrop-filter: blur(5px);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 1300ms;
}

#project-card-title {
  color: var(--text-main);
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.project:hover img {
  transform: scale(1.2);
}

.project:hover .layer {
  height: 100%;
}

.layer p {
  color: var(--text-sec);
  font-size: 1.2em;
  font-family: Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layer a {
  margin: 13px auto;
}
