/*dario_pfolio_styles.css*/
/* back ground image for hero header*/

.bgimageHeader {
    display: flex;
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

/* style for hero header*/
.header {
    margin:  0 auto 0 auto;
    color: ghostwhite;
    font-size: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* styles for <p> with class="helloheader" */
.helloheader {
    display: inline-block;
    margin: 0 auto 0 auto;
    color: gainsboro;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*logo of the header section*/
.logo {
    display: block;
    text-align: center;
    margin:  0 auto;
    /*margin: 0 auto 0 auto;*/
    width: auto; /* Set the initial width */
    height: auto; /* Maintain the aspect ratio of the image */
    /* Define the maximum and minimum sizes for the logo */
    max-width: 250px; /* Set the maximum width for the logo */
    min-width: 200px; /* Set the minimum width for the logo */
  }

/*scroll down button styles and functionality*/
.aboutBtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #730808;
    color: #FFFFFF;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1.0s ease, color 1.6s ease;
  }

  .aboutBtn:hover {
    background-color: #f69cba;
    color: rgb(76, 7, 7);
  }

  .downArrowLeft {
    position: relative;
    animation-name: downArrowLeft;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    font-size: 30px;
    margin: 0 10px 0 0;
  }

  .downArrowRight {
    position: relative;
    animation-name: downArrowRight;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    font-size: 30px;
    margin: 0 0 0 10px;
  }

  @keyframes downArrowLeft {
    0% {top: 0px; bottom: 10px;}
    25% {top: 5px; bottom: 10px;}
    50% {top: 10px; bottom: 5px;}
    75% {top: 5px;}
    100% {top: 0px; bottom: 0px;}
  }

  @keyframes downArrowRight {
    0% {top: 0px; bottom: 10px;}
    25% {top: 5px; bottom: 10px;}
    50% {top: 10px; bottom: 5px;}
    75% {top: 5px;}
    100% {top: 0px; bottom: 0px;}
  }

/*navbar styles*/
.navbar {
    width: 100vw;
    min-width: 100%;
    justify-content: center;
}

/*about me styling*/
.bgimage-about {
    display: flex;
    background-color:midnightblue;
    /*width: 100%;*/
    justify-content: center;
    align-items: center;
}

.about-title, .skills-title, .contact-title {
    text-align: center;
    color:ghostwhite;
    font-size: 40px;
}

/*styles for the divs*/
.about-div, .skills-div, .contact-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

/* paragraph in about styles*/
.about-pg, .skills-pg, .contact-pg {
    text-align: center;
    color: gainsboro;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* styles for the <input>, placeholders and textarea*/
#name, #email, #subject {min-height: 2em; 
    background-color: rgba(1, 1, 46, 0.719); 
    color: rgb(255, 255, 255); 
    margin: 1.1px 0; 
    border: 2px ridge;
    width:24rem;
    flex-wrap: wrap;
}

#subject{margin-bottom: 2px;}

::placeholder {color: rgb(255, 255, 255);
font-size: 1.1em;
text-align: center;
font-family: Tahoma, Geneva, Verdana, sans-serif;
}

textarea {background-color: rgba(1, 1, 46, 0.719); 
    color: rgb(255, 255, 255); 
    margin: 0 1px; 
    border: 2px ridge; 
    min-width: 24rem;
    max-width: 50rem; 
    min-height: 5rem;
    max-height: 24em;
}

textarea::placeholder {color: rgb(255, 255, 255); font-size: 1.15em; font-family: Tahoma, Geneva, Verdana, sans-serif;}

.submit-button {
    color: rgb(255, 255, 255);
    background-color: rgba(1, 1, 46, 0.719); border: 2px ridge;
    min-height: 2rem;
    /*width:24rem;*/
}

#contact{
    text-align: center;
}

fieldset{
    border: 0;
}

/*styles for the form*/
.input-name{
    margin: 1px;
}
.input-email{margin: 1px;}
.input-subject{margin: 1px;}
.input-message{margin: 1px;}
.submit-button{margin:1px;}

/*-- style for the unordered list with class="navigation"*/
.navigation {
    text-align: center;
}

/* styles for the list of links with class="nav-link"*/
.nav-link {
    display: inline-block;
    margin: -25% 20px;
    text-align: center;
}

/*profile paragraph*/
.pro-prg {
    font-family: Georgia, Verdana, Geneva, Tahoma;
}
